@charset "UTF-8";

body {
	background-color: #ffffff;
}

#title {
	font-size: 24px;
	font-color: black;
	text-align: center;
}

#inputStuff {
	position: absolute;	
	left: 45%;
 	height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputButton {
	background-color: #a9a9a9;
	color: white;
}

#exportButton {
	background-color: #a9a9a9;
	color: white;
}

#collageSpace {
	width: 800px;
	height:600px;
	margin: auto;
}

#previousCollages {
	position:absolute;
   	top:100%;
   	width:100%;
   	height:150px;
}